Options +FollowSymLinks -MultiViews

                                                               RewriteEngine On
                                                               RewriteBase /
                                                               RewriteCond %{REQUEST_FILENAME} !-d
                                                               RewriteCond %{REQUEST_FILENAME} !-f
                                                               RewriteRule . TP_IHAB_04-mai/exercice1/middle/index.php [QSA,L]