html{
  font-family: Arial, sans-serif;
}

.user-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
  input{
    margin: 2vh 0;
    &:not(:placeholder-shown):invalid{
      border: 2px solid red;
    }
  }
  button{
    padding: 15px;
    font-weight: bold;
    &:hover{
      cursor: pointer;
      filter: brightness(80%);
    }
  }
}